* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.preloader {
  display: block;
}

.preloader.disactive {
  display: none;
}

.preloader .preloader-container {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #030239;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preloader .preloader-container .preloader-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.preloader .preloader-container .preloader-content .preloader-dots-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.preloader .preloader-container .preloader-content .preloader-dots-container .preloader-dot {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-right: 16px;
  display: block;
  -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
          transform: scale(0.4);
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-animation: preloader 2s ease-in-out infinite;
          animation: preloader 2s ease-in-out infinite;
}

.preloader .preloader-container .preloader-content .preloader-dots-container .preloader-dot:last-child {
  margin: 0;
}

.preloader .preloader-container .preloader-content .preloader-dots-container .preloader-dot:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.preloader .preloader-container .preloader-content .preloader-dots-container .preloader-dot:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.preloader .preloader-container .preloader-content .preloader-dots-container .preloader-dot:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.preloader .preloader-container .preloader-content .preloader-dots-container .preloader-dot:nth-child(4) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.preloader .preloader-container .preloader-content .preloader-text {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    background-color: rgba(255, 255, 255, 0.7);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #fff;
  }

  100% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    background-color: rgba(255, 255, 255, 0.7);
  }
}

@keyframes preloader {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    background-color: rgba(255, 255, 255, 0.7);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #fff;
  }

  100% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    background-color: rgba(255, 255, 255, 0.7);
  }
}

body {
  min-height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}

body[data-page=index] {
  background: -o-linear-gradient(330.54deg, #502ddd 12.21%, #12195b 66.03%);
  background: linear-gradient(119.46deg, #502ddd 12.21%, #12195b 66.03%);
}

body.popup-active {
  overflow: hidden;
}

button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.page-container {
  margin: 15px 0;
  margin: auto;
  max-width: 1170px;
}

.header.bg {
  background: -o-linear-gradient(330.54deg, #502ddd 12.21%, #12195b 66.03%);
  background: linear-gradient(119.46deg, #502ddd 12.21%, #12195b 66.03%);
}

.header .header-container {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-container .header-logo a img {
  height: 50px;
}

.header .header-container .header-nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-container .header-nav .nav-list .nav-list-point .list-point-link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
  margin-right: 20px;
}

.header .header-container .header-nav .nav-list .nav-list-point .list-point-link.active {
  font-weight: 500;
  display: block;
  position: relative;
}

.header .header-container .header-nav .nav-list .nav-list-point .list-point-link.active::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -10px;
  background-color: #fff;
}

.header .header-container .header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-container .header-buttons .button-container {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .header-container .header-buttons .button-container:hover {
  cursor: pointer;
}

.header .header-container .header-buttons .button-container.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-container .header-buttons .button-container .button-icon {
  height: 26px;
}

.header .header-container .header-buttons .button-container .header-button {
  width: 100%;
  background-color: transparent;
  border: none;
  margin-top: 4px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.header .header-container .header-buttons .button-container .button-dropdown-content {
  width: 100%;
  bottom: -40px;
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  background-color: #000;
  position: absolute;
  width: 100%;
  z-index: 4;
}

.footer .footer-container {
  padding-top: 20px;
  padding-bottom: 22px;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr 3fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.footer .footer-container .footer-columns .footer-logo img {
  height: 100px;
}

.footer .footer-container .footer-columns .footer-column-caption {
  font-weight: 400;
  font-size: 16px;
  color: white;
  padding-bottom: 7px;
}

.footer .footer-container .footer-columns .footer-list .footer-list-point {
  padding-bottom: 3px;
  margin-left: 11px;
  position: relative;
}

.footer .footer-container .footer-columns .footer-list .footer-list-point::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: -11px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.footer .footer-container .footer-columns .footer-list .footer-list-point .footer-list-point-link {
  font-weight: 300;
  font-size: 14px;
  color: white;
}

.footer .footer-container .footer-columns .footer-column-text {
  color: white;
  font-weight: 400;
  text-align: center;
  width: 170px;
  margin-bottom: 10px;
}

.footer .footer-container .footer-columns .footer-column-text span {
  font-weight: 600;
}

.footer .footer-container .footer-columns .footer-button {
  width: 170px;
  -webkit-box-shadow: 0px 10px 70px 0px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 10px 70px 0px rgba(255, 255, 255, 0.5);
  background: -o-linear-gradient(349.99deg, #d5f2ff 20.54%, #bdebff 61.75%);
  background: linear-gradient(100.01deg, #d5f2ff 20.54%, #bdebff 61.75%);
  font-weight: 600;
  color: black;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  height: 40px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer .footer-container .footer-columns .footer-button:hover {
  cursor: pointer;
  background: -o-linear-gradient(349.99deg, #bae9ff 20.54%, #a3e3ff 61.75%);
  background: linear-gradient(100.01deg, #bae9ff 20.54%, #a3e3ff 61.75%);
}

.popup-callback-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  display: none;
  z-index: 99;
}

.popup-callback-container.active {
  display: block;
}

.popup-callback-container .popup-callback-bg {
  position: absolute;
  display: block;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-callback-container .popup-callback-bg .popup-callback-content {
  border-radius: 10px;
  position: relative;
  display: none;
  max-height: 6000px;
  padding-top: 50px;
  width: 900px;
  padding-bottom: 70px;
  margin: auto;
  margin-top: 50px;
  background-color: #fff;
}

.popup-callback-container .popup-callback-bg .popup-callback-content.active {
  display: block;
}

.popup-callback-container .popup-callback-bg .popup-callback-content .popup-callback-close {
  display: block;
  position: relative;
  left: -165px;
}

.popup-callback-container .popup-callback-bg .popup-callback-content .popup-callback-close:hover {
  cursor: pointer;
}

.popup-callback-container .popup-callback-bg .popup-callback-content .popup-callback-close::after {
  content: "";
  right: -120px;
  top: 10px;
  position: absolute;
  width: 23px;
  height: 1.5px;
  background: #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup-callback-container .popup-callback-bg .popup-callback-content .popup-callback-close::before {
  content: "";
  right: -120px;
  top: 10px;
  position: absolute;
  width: 23px;
  height: 1.5px;
  background: #000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup-callback-container .popup-callback-bg .popup-callback-content .popup-callback-header {
  font-weight: 500;
  font-size: 18px;
  display: block;
  text-align: center;
}

.popup-callback-container .popup-callback-bg .popup-callback-content .popup-callback-header .popup-header-title {
  font-weight: 500;
  font-size: 24px;
  position: relative;
}

.popup-callback-container .popup-callback-bg .popup-callback-content .popup-callback-header .popup-header-title::before {
  position: absolute;
  left: -50px;
  top: -3px;
  content: url("../img/registration.svg");
}

.popup-callback-container .popup-callback-bg .popup-callback-content .popup-callback-body .popup-callback-body-container {
  margin-top: 70px;
}

.popup-callback-container .popup-callback-bg .popup-callback-content .popup-callback-body .popup-callback-body-container .popup-callback-body-input-container {
  display: grid;
  grid-template-columns: 250px 350px;
  margin-left: calc((100% - 700px) / 2);
  margin-bottom: 24px;
}

.popup-callback-container .popup-callback-bg .popup-callback-content .popup-callback-body .popup-callback-body-container .popup-callback-body-input-container .popup-callback-body-input-text {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-callback-container .popup-callback-bg .popup-callback-content .popup-callback-body .popup-callback-body-container .popup-callback-body-input-container .popup-callback-body-input {
  margin-left: 40px;
  width: 330px;
  height: 46px;
  border: none;
  background: #f0f0f0;
  border-bottom: 2px solid #e1e1e1;
  border-radius: 10px;
  padding: 0 10px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.popup-callback-container .popup-callback-bg .popup-callback-content .popup-callback-body .popup-callback-body-container .popup-callback-body-input-container .popup-callback-body-input:focus,
.popup-callback-container .popup-callback-bg .popup-callback-content .popup-callback-body .popup-callback-body-container .popup-callback-body-input-container .popup-callback-body-input:active {
  outline: none;
  border-bottom: 2px solid #afafaf;
}

.popup-callback-container .popup-callback-bg .popup-callback-content .popup-callback-body .popup-callback-body-container .popup-callback-body-input-container .popup-callback-body-input.textarea {
  height: 100px;
}

.popup-callback-container .popup-callback-bg .popup-callback-content .popup-callback-body .popup-callback-body-container .popup-callback-body-button {
  display: block;
  margin: auto;
  width: 400px;
  -webkit-box-shadow: 0px 10px 70px 0px white;
          box-shadow: 0px 10px 70px 0px white;
  background: -o-linear-gradient(350deg, #d5f2ff 20.54%, #bdebff 61.75%);
  background: linear-gradient(100deg, #d5f2ff 20.54%, #bdebff 61.75%);
  font-weight: 600;
  color: black;
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 2px;
  border: none;
  height: 50px;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.popup-callback-container .popup-callback-bg .popup-callback-content .popup-callback-body .popup-callback-body-container .popup-callback-body-button:hover {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  background: -o-linear-gradient(349.99deg, #bae9ff 20.54%, #a3e3ff 61.75%);
  background: linear-gradient(100.01deg, #bae9ff 20.54%, #a3e3ff 61.75%);
}

.popup-change-language-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  display: none;
  z-index: 99;
}

.popup-change-language-container.active {
  display: block;
}

.popup-change-language-container .popup-change-language-bg {
  position: absolute;
  display: block;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-change-language-container .popup-change-language-bg .popup-change-language-content {
  border-radius: 10px;
  position: relative;
  display: none;
  max-height: 560px;
  width: 970px;
  padding: 50px 100px;
  margin: auto;
  margin-top: 104px;
  background-color: #fff;
}

.popup-change-language-container .popup-change-language-bg .popup-change-language-content.active {
  display: block;
}

.popup-change-language-container .popup-change-language-bg .popup-change-language-content .popup-change-language-close {
  display: block;
  position: relative;
  left: -130px;
}

.popup-change-language-container .popup-change-language-bg .popup-change-language-content .popup-change-language-close:hover {
  cursor: pointer;
}

.popup-change-language-container .popup-change-language-bg .popup-change-language-content .popup-change-language-close::after {
  content: "";
  right: -120px;
  top: 10px;
  position: absolute;
  width: 23px;
  height: 1.5px;
  background: #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup-change-language-container .popup-change-language-bg .popup-change-language-content .popup-change-language-close::before {
  content: "";
  right: -120px;
  top: 10px;
  position: absolute;
  width: 23px;
  height: 1.5px;
  background: #000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup-change-language-container .popup-change-language-bg .popup-change-language-content .popup-change-language-header {
  text-align: center;
}

.popup-change-language-container .popup-change-language-bg .popup-change-language-content .popup-change-language-header .popup-change-language-header-title {
  font-weight: 500;
  font-size: 24px;
  position: relative;
}

.popup-change-language-container .popup-change-language-bg .popup-change-language-content .popup-change-language-header .popup-change-language-header-title::before {
  position: absolute;
  left: -50px;
  top: -3px;
}

.popup-change-language-container .popup-change-language-bg .popup-change-language-content .popup-change-language-body .popup-change-language-url-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.popup-change-language-container .popup-change-language-bg .popup-change-language-content .popup-change-language-body .popup-change-language-url-container .popup-change-language-text {
  font-weight: 400;
  margin-right: 20px;
  font-size: 18px;
}

.popup-change-language-container .popup-change-language-bg .popup-change-language-content .popup-change-language-body .popup-change-language-url-container .popup-change-language-input-container {
  width: 100%;
  max-width: 500px;
}

.popup-change-language-container .popup-change-language-bg .popup-change-language-content .popup-change-language-body .popup-change-language-url-container .popup-change-language-input-container .popup-change-language-input {
  width: 100%;
  height: 46px;
  border: none;
  background: #f0f0f0;
  border-bottom: 2px solid #e1e1e1;
  border-radius: 10px;
  padding: 0 10px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.popup-change-language-container .popup-change-language-bg .popup-change-language-content .popup-change-language-body .popup-change-language-url-container .popup-change-language-input-container .popup-change-language-input:focus,
.popup-change-language-container .popup-change-language-bg .popup-change-language-content .popup-change-language-body .popup-change-language-url-container .popup-change-language-input-container .popup-change-language-input:active {
  outline: none;
  border-bottom: 2px solid #afafaf;
}

.popup-change-language-container .popup-change-language-bg .popup-change-language-content .popup-change-language-body .popup-change-language-url-container .popup-change-language-input-container .popup-change-language-datalist {
  position: absolute;
  background: #f0f0f0;
  border: 1px solid #e1e1e1;
  border-radius: 0 0 5px 5px;
  border-top: none;
  font-family: sans-serif;
  width: 100%;
  max-width: 500px;
  padding: 5px;
  max-height: 10rem;
  overflow-y: auto;
}

.popup-change-language-container .popup-change-language-bg .popup-change-language-content .popup-change-language-body .popup-change-language-url-container .popup-change-language-input-container .popup-change-language-datalist .popup-change-language-option {
  background: #f0f0f0;
  padding: 2px;
  color: #1e1e1e;
  margin-bottom: 1px;
  font-size: 16px;
  cursor: pointer;
}

.popup-change-language-container .popup-change-language-bg .popup-change-language-content .popup-change-language-body .popup-change-language-url-container .popup-change-language-input-container .popup-change-language-datalist .popup-change-language-option:hover,
.popup-change-language-container .popup-change-language-bg .popup-change-language-content .popup-change-language-body .popup-change-language-url-container .popup-change-language-input-container .popup-change-language-datalist .popup-change-language-option:active {
  color: black;
  background-color: lightblue;
}

.popup-change-language-container .popup-change-language-bg .popup-change-language-content .popup-change-language-button {
  background: -o-linear-gradient(349.99deg, #d5f2ff 20.54%, #bdebff 61.75%);
  background: linear-gradient(100.01deg, #d5f2ff 20.54%, #bdebff 61.75%);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  width: 380px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
}

.popup-change-language-container .popup-change-language-bg .popup-change-language-content .popup-change-language-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.4);
}